body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
}

a { /* for links - to not have underlined decoration */
    text-decoration: none;
    color: black;
}

* { /* padding, border do not affect elt size */
    box-sizing: border-box;
}